<a href="https://colab.research.google.com/github/aline-evelyn/Banco_Carrefour_Data_Engineer/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep = ';', parse_dates= ['ocorrencia_dia'], dayfirst=True)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [ ]:
#pip install pandera

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'codigo_ocorrencia':pa.Column(pa.Int),
        'codigo_ocorrencia2':pa.Column(pa.Int),
        'ocorrencia_classificacao': pa.Column(pa.String),
        'ocorrencia_cidade':pa.Column(pa.String),
        'ocorrencia_uf': pa.Column(pa.String),
        'ocorrencia_aerodromo':pa.Column(pa.String),
        'ocorrencia_dia':pa.Column(pa.DateTime),
        'ocorrencia_hora':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        'total_recomendacoes': pa.Column(pa.Int)
    }
)

NameError: ignored

In [ ]:
schema.validate(df)

NameError: ignored

In [ ]:
df.loc[1, 'ocorrencia_cidade']

'BELÉM'

In [ ]:
df.loc[1:3]

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0

[3 rows x 9 columns]

In [ ]:
df.loc[[10, 40]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
40              39158               39158  ...        16:00:00                   0

[2 rows x 9 columns]

In [ ]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [ ]:
df.codigo_ocorrencia.is_unique

True

In [ ]:
df.set_index('codigo_ocorrencia', inplace=True)

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [ ]:
df.head(1)

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0

[1 rows x 8 columns]

ocorrencia_uf
** 
ocorrencia_aerodromo
###!
####
****
*****
ocorrencia_hora
null

In [ ]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df.replace(['**', '###!', '####', "****", '*****', 'NULL'], pd.NA, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
df.tail()

      codigo_ocorrencia  ...  total_recomendacoes
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5 rows x 9 columns]

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2331
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.isnull().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [ ]:
df['total_recomend'] = df.total_recomendacoes

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... total_recomendacoes total_recomend
0              40211               40211  ...                   0              0
1              40349               40349  ...                   0              0
2              40351               40351  ...                   0              0
3              39527               39527  ...                   0              0
4              40324               40324  ...                   0              0

[5 rows x 10 columns]

In [ ]:
df.drop(['total_recomend'], axis=1, inplace=True)

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]